@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter-Regular";
	src: url("./assets/fonts/Inter/Inter-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Inter-Medium";
	src: url("./assets/fonts/Inter/Inter-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "Inter-SemiBold";
	src: url("./assets/fonts/Inter/Inter-SemiBold.woff2") format("woff2");
}
@font-face {
	font-family: "Inter-ExtraBold";
	src: url("./assets/fonts/Inter/Inter-ExtraBold.woff2") format("woff2");
}

@layer components {
	.button-transition {
		@apply bg-yellow-500 text-gray-900 transition ease-in-out hover:scale-110 hover:bg-violet-600 hover:text-white focus:outline-none active:bg-violet-700;
	}
	.button-bordered-transition {
		@apply border-2 border-orange-500 text-gray-900 transition ease-in-out hover:scale-110 hover:border-orange-300 hover:bg-orange-500 hover:text-white focus:outline-none active:bg-orange-700;
	}

	.no-decoration {
		text-decoration: none;
	}
}
